################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Local environment files
.env
**/.env
